body{
    margin: 0;
}
h1{
    margin: 0;
}
h2{
    margin: 0;
    margin-top: 8px;
}
img{
    height: 300px;
    width: 300px;
}
div{
    background-color: red;
    width: 400px;
    display: flex;
    height: 300px;
    
}
.img-1{
    position: relative;
    bottom: 30px;
    left: 40px;
}
div {
    margin: 0px;
    height: 600px;
    width: 600px;
    background-color: white;
    
}
.green{
    background-color: green;
    height: 200px;
    width: 200px;
    
}
.red{
    background-color: red;
    height: 200px;
    width: 200px;
    align-items: center;
    justify-content: center;
}
.yellow{
    background-color: yellow;
    height: 200px;
    width: 200px;
}
.fa-star{
    color: yellow;
    font-size: 30px;
   
}

