
div{
    display: flex;
    align-items: center;

}
a{
    color: blue;
}

.log2{
    width: 300px;
}
hr{
    height: 0;
    width: 80px;
    border: 2px solid;
    color: brown;
    
}
